{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scepticers News</title>

         <!-- CSS only -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        

        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

         <!-- CSS -->
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <h1><a class="navbar-brand" href="{% url 'post_list' %}">Scepticers News</a></h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        SN
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'post_about' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'games'%}">Games</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'support'%}">Support</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{user}} Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sign Out</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                   {% block content %}
                   {% endblock %}
                </div>
            </div>
        </main>
        <footer class="page-header">
                <p>Specticers.com &copy; 2022</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>