{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<article class="post">
    <aside class="actions">
        {% if user.is_authenticated %}
            {% if user == post.author or user.is_staff %}
                <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit Post</a> 
                <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Delete Post</a>
            {% else %}
                {% if post.visability == 'pending'%}
                    <a class="btn btn-danger"  href="{% url 'post_report' pk=post.pk %}">Report Post</a>
                {% endif %}
            {% endif %}
            {% if user.is_staff %}
                {% if post.visability == 'under review' %}
                    <a class="btn btn-primary" href="{% url 'post_approve' pk=post.pk %}">Approve Post</a>
                {% elif post.visability == 'hidden' %}
                    <a class="btn btn-secondary" href="{% url 'post_show' pk=post.pk %}">Show post</a>
                {%endif%}
            {% endif %}
        {% else %}
            {% if post.visability == 'pending' %}
                <a class="btn btn-danger" href="{% url 'post_report' pk=post.pk %}">Report Post</a>
            {% endif %}
        {% endif %}
        
    </aside>
    {% if post.image %}
        <div class="post-image-div">
            <img class="post-image" src="{{post.image.url}}">
        </div>
    {% endif %}
    {% if post.published_date %}
    <time class="date">
        {{ post.published_date }},
        Author: {{post.author}},
        City: {{post.city}},
        State: {{post.state}},
        {% for id, value in post_sub %}
            {% if id == post.subject %}
                Subject: {{value}}
            {% endif %}
        {% endfor %}
    </time>
    {% endif %}
    <h2>{{ post.title}}</h2>
    <p>{{ post.text|linebreaksbr}}</p>
    <a class="btn btn-primary" href="{% url 'post_believer' pk=post.pk %}">Believers: {{number_of_believers}}</a>
    <a class="btn btn-danger" href="{% url 'post_sceptic' pk=post.pk %}">Sceptic: {{number_of_sceptics}}</a>
</article>
<article>
    <aside>
        <h3>Commnents</h3>
        <p>Please join the conversation. Everyone is waiting to hear your words of wisdom.</p>
        <a class="btn btn-primary" href="{% url 'new_comment' pk=post.pk %}">Add Comment</a>
    </aside>
    {% for comment in comments %}
    <aside>
        <time class="date">
            Comment Date: {{comment.create_date}},
            Commenter: {{comment.comment_author}}
        </time>
        <p>{{ comment.text}}</p>
    </aside>
    {% endfor %}
</article>
{% endblock %}