{% extends 'blog/base.html'%}

{% block content%}
    <h1>About</h1>
    <p>This news site is not your ordinary news site. 
        This site allows anyone to become a news reporter. 
        We encourage you to post stories that matter to you. 
        Feel free to post stories about what is going on in your town or this country. 
        If you believe in bigfoot or UFOs or most anything else post your stories here. 
        The only content not allowed is adult content, content bullying or harassing, content inciting crimes or violence, 
        and content slandering people or businesses. 
        We the publisher reserve the right to ban any content we feel inappropriate for this site. 
        We aim to encourage free speech.</p>
{% endblock%}