{% extends 'blog/base.html'%}

{% block content%}
    <h1>About</h1>
    <p>This is not your ordinary news site. 
        This site allows anyone to become a news reporter. 
        We encourage you to post stories that matter to you, even if that includes Bigfoot. 
        Feel free to post stories about what is going on in your town or this country. 
        We aim to encourage free speech.
        Please see the<a href="{% url 'tou'%}"> Terms of Use </a>page for site rules.
        </p>
{% endblock%}