<!DOCTYPE html>
<html>
    <head>
        <title>The News</title>
    </head>
    <body>
        <header>
            <a href="/">The News</a>
        </header>
        <article>
            <time>published: 14.006.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <P>some text here. just playing around</P>
        </article>
        <article>
            <time>published: 14.006.2014, 12:14</time>
            <h2><a href="">My 2 post</a></h2>
            <P>some text here. just playing around</P>
        </article>
    </body>
</html>