{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}  
<article class="black-white">
    <h3>{{tag}}</h3>
    <p>To become your towns top report <a href="{% url 'register' %}">Create An Account</a> today!</p>
</article>
<article class="m-2 filter">
    <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mfilter" aria-expanded="false" aria-controls="mfilter">Filter</button>
    </div>
    <div class="collapse" id="mfilter">
        <div class="card card-body">
        <h3>Search Menu</h3>
        <form method="GET">
            {{search.form|crispy}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        </div>
    </div>
</article>
        {% for post in posts %}
            <article class="post">
                <div>
                    <img class="arthor-img" src="{{ post.author.profile.image.url }}">
                </div>  
                <time class="date">
                    published: {{ post.published_date }},
                    Author: {{post.author}},
                    City: {{post.city}},
                    State: {{post.state}},
                    Country: {{post.country}},
                    {%for id, value in post_sub %}
                        {% if id == post.subject %}
                            Subject: {{value}}
                        {% endif %}
                    {% endfor %}
                </time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text | truncatewords:20 |linebreaksbr }}</p>
            </article>
        {% endfor %}
{% endblock %}