{% extends 'blog/base.html' %}

{% block content %}  
<article class="m-2">
    <form method="GET">
        {{search.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</article>
        {% for post in posts %}
            <article class="post">
                <div>
                    <img class="arthor-img" src="{{ post.author.profile.image.url }}">
                </div>  
                <time class="date">
                    published: {{ post.published_date }},
                    Author: {{post.author}},
                    City: {{post.city}},
                    State: {{post.state}},
                    {%for id, value in post_sub %}
                        {% if id == post.subject %}
                            Subject: {{value}}
                        {% endif %}
                    {% endfor %}
                </time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text | truncatewords:20 |linebreaksbr }}</p>
            </article>
        {% endfor %}
{% endblock %}