article a:link {
    color: #060694;
}

article a:visited { 
    color: #2baaa4;
}

article a:hover{
    color: #1A2639;
}

article a:active{
    color: #147710;
}

header a{
    color: #2A2C2B;
}

body{
    padding-left: 15px;
}

.post{
    margin-bottom: 70px;
}

.page-header{
    background-color: #FFFF00;
}

.date{
    color: #1bc010;
}