{% extends 'blog/base.html'%}

{% block content%}
    <h1>Scepticers Terms of Use</h1>
    <p>Please read these Terms of Use carefully before using this website. By using this website (the "Website"), 
        the user ("You") has accepted these Terms of Use. If You do not accept these Terms of Use, do not use 
        the Website. By using this Website, you represent that you are of legal age to form a binding contract 
        with Scepticers.
    </p>
    <p>
        Scepticers may modify all or any part of these Terms of Use from time to time and may not provide
         notice to You. You are encouraged to check back often so You are aware of your current rights and
          responsibilities. Your continued use of this Website after changes to the Terms of Use have been 
          published constitutes your binding acceptance of the updated Terms of Use. If at any time the Terms
           of Use are no longer acceptable to You, You should immediately cease all use of this Website.
           <ol>
               <li>
                    Statement of Purpose. The purpose of Scepitcers.com is to create an open dialog. The
                     site is designed to share information, ideas, and news. It is also designed to 
                     encourage the creation of a user community through contributions to written content 
                     and reader comments. Our hope is that the site is accessible and welcoming.
               </li>
               <li>
                   <p>Community Behavior Rules</p>
                   <p>
                       To foster an open, welcoming, contributory environment you must adhere to the 
                       following practices:
                    </p>
                    <ul>
                        <li>
                            You may not post or link to content that is threatening, abusive, defamatory, 
                            libelous, derogatory, violent, harassing, bigoted, hateful, profane, obscene,
                             lewd, lascivious, pornographic or otherwise objectionable, that gives rise 
                             to civil or criminal liability, or otherwise violates any applicable law
                        </li>
                        <li>
                            You may not intentionally make false or misleading statements
                        </li>
                        <li>
                            You may not offer to sell or buy any product or service
                        </li>
                        <li>
                            You may not post material that infringes any copyright, trademark, patent, trade secret,
                             right of privacy or right of publicity
                        </li>
                        <li>
                            You may not disclose confidential information
                        </li>
                        <li>
                            You may not disclose information that you do not lawfully possess
                        </li>
                        <li>
                            You may not post, link to, upload or transmit software or other materials 
                            that contain viruses, worms, time bombs, Trojan horses, or other harmful or 
                            disruptive components
                        </li>
                        <li>
                            You may not restrict or inhibit any other user from using or enjoying this
                             Website, for example, by cracking, spoofing, defacing, or impairing 
                             functionality
                        </li>
                        <li>
                            You may not post political campaign materials, chain letters, mass mailings or spam
                        </li>
                    </ul>
                    <p>
                        You are solely responsible for the content You provide. Scepticers has the right,
                         but not the duty, to pre-screen, refuse, edit, move or remove any content that
                          violates these Terms of Use or that is unlawful. Scepticers may close comments
                           if, in its sole discretion, the comments are no longer on topic, the 
                           commenting has devolved to personal attacks. Scepticers further has the right
                            to limit or terminate Your registration with, or access to, the 
                            Website (which may include termination of access by anyone at your IP address)
                             for breach of these Terms or Use or for conduct that, in Scepticers' sole
                              discretion, subjects Scepticers to unreasonable legal risk.
                    </p>
               </li>
           </ol>
    </p>
{% endblock%}